{{ if isset .Site.Params "contact_form" }}
{{ if .Site.Params.contact_form.enable }}

<div class="footer-top">
        <div class="row">
          <div class="col-lg-5">
            <div class="section-title">
              <h2>{{ .Site.Params.contact_form.title }} </h2>
              <p> {{ .Site.Params.contact_form.subtitle | markdownify }} </p>
            </div>
          </div>
          <!-- /.col-lg-5 -->
          <div class="col-lg-7">
            {{ if isset .Site.Params "email" }}
                <div class="contact-form">
                  <form name="contact" method="POST" netlify-honeypot="address" data-netlify="true">
                    <div class="row">
                    <div class="col-md-6">
                        <label for="name">Your name</label>
                        <input type="text" class="form-control" name="name" id="name" required >
                    </div>
                    <div style="display:none">
                      <label>Ignore this: <input name="address" type="text" /></label>
                    </div>
                      <div class="col-md-6">
                        <label>e-mail</label>
                        <input type="email" class="form-control" name="email" id="email" required>
                    </div>
                    <div class="col-12">
                        <label>TYPE MESSAGE HERE</label>
                        <textarea class="form-control" id="message" name="message" rows="2" required></textarea>
                        <button class="section-link" type="submit">Send Now<i class="fas fa-arrow-right"></i></button>
                    </div>
                    </div>
                    <p class="form-messege"></p>
                </form>
                </div>
            {{ end }}
            <!-- /.contact-form -->
          </div>
          <!-- /.col-lg-7 -->
        </div>
        <!-- /.row -->
 </div>

{{ end }}
{{ end }}