
<section class="footer">
  <div class="container">

      {{ partial "anything-to-say.html" . }}
    
    <!-- /.footer-top -->
    <div class="footer-bottom">
      <div class="row">
        <div class="col-md-5 order-2 order-md-1">
          <div class="copyright-box">
            <div class="footer-logo">
              <a href="{{ .Site.BaseURL }}"><img src="{{ $.Site.Params.ft_logo }}" alt="{{ .Title }} logo" /></a>
            </div>
              <p>{{ .Site.Params.copyright_notice | markdownify}}</p>
              <p>{{ .Site.Params.reserved_text | markdownify}}</p>
          </div>
        </div>
        <!-- /.col-lg-5 -->
        <div class="col-md-7 order-1 order-md-2">
          <div class="footer-social">
            <ul>
                {{ if (isset .Site.Params.social "facebook" ) }}
                  <li>
                    <a  href="https://facebook.com/{{ .Site.Params.social.facebook }}" target="_blank">
                      <i class="fab fa-facebook-f"></i>
                      <div class="hexagon"></div>
                    </a>
                  </li>
                {{ end }}
                {{ if (isset .Site.Params.social "twitter" ) }} 
                  <li>
                    <a  href="https://twitter.com/{{ .Site.Params.social.twitter }}" target="_blank">
                      <i class="fab fa-twitter"></i>
                      <div class="hexagon"></div>
                    </a>
                  </li>
                {{ end }}
                {{ if (isset .Site.Params.social "youtube" ) }}
                  <li>
                    <a class="open-search" href="https://youtube.com/{{ .Site.Params.social.youtube }}" target="_blank">
                      <i class="fab fa-youtube"></i>
                      <div class="hexagon"></div>
                    </a>
                  </li>
                {{ end }}
                {{ if (isset .Site.Params.social "googleplus" ) }}
                  <li>
                    <a  href="https://plus.google.com/+{{ .Site.Params.social.googleplus }}" target="_blank">
                      <i class="fab fa-google-plus"></i>
                      <div class="hexagon"></div>
                    </a>
                  </li>
                {{ end }}
                {{ if (isset .Site.Params.social "pinterest" ) }}
                  <li>
                    <a  href="https://www.pinterest.com/{{ .Site.Params.social.pinterest }}" target="_blank">
                      <i class="fab fa-pinterest"></i>
                      <div class="hexagon"></div>
                    </a>
                  </li>
                {{ end }}
                {{ if (isset .Site.Params.social "instagram" ) }}
                  <li>
                    <a href="https://www.instagram.com/{{ .Site.Params.social.instagram }}" target="_blank">
                      <i class="fab fa-instagram"></i>
                      <div class="hexagon"></div>
                    </a>
                  </li>
                {{ end }}
                {{ if (isset .Site.Params.social "linkedin" ) }}
                  <li>
                    <a  href="https://www.linkedin.com/in{{ .Site.Params.social.linkedin }}" target="_blank">
                      <i class="fab fa-linkedin"></i>
                      <div class="hexagon"></div>
                    </a>
                  </li>
                {{ end }}
                {{ if (isset .Site.Params.social "github" ) }}
                  <li>
                    <a  href="https://github.com/{{ .Site.Params.social.github }}" target="_blank">
                      <i class="fab fa-github"></i>
                      <div class="hexagon"></div>
                    </a>
                  </li>
                {{ end }}
                {{ if (isset .Site.Params.social "gitlab" ) }}
                  <li>
                    <a  href="https://gitlab.com/{{ .Site.Params.social.gitlab }}">
                      <i class="fab fa-gitlab"></i>
                      <div class="hexagon"></div>
                    </a>
                  </li>
                {{ end }}
            </ul>
          </div>
          <!-- /.footer-social -->
        </div>
        <!-- /.col-lg-7 -->
      </div>
      <!-- /.row -->
    </div>
  </div>
  <!-- /.container -->
  <div class="footer-hexagon">
      <div class="hexagon"></div>
  </div>
</section>
<!-- /.footer -->

<div class="backtotop">
  <i class="fas fa-angle-double-up"></i>
</div>

{{ partial "footer_scripts.html" . }}

</body>
</html>
