
<!-- Dependency Scripts -->
<script src={{ "js/popper.min.js" | relURL}}></script>
<script src={{ "js/jquery.min.js" | relURL}}></script>
<script src={{ "js/bootstrap.js" | relURL}}></script>
<script src={{ "js/slick.min.js" | relURL}}></script>
<script src={{ "js/aos.js" | relURL}}></script>
<script src={{ "js/jquery.fillcolor.js" | relURL}}></script>
<script src={{ "js/jquery-simple-mobilemenu.min.js" | relURL}}></script>
<!-- Site Scripts -->
<script src={{ "js/app.js" | relURL}}></script>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
{{ template "_internal/google_analytics_async.html" . }}
