<section class="volunteer-area" data-bg-image="img/remarkable-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="section-title">
                    <h2>
                        <span>{{ .Site.Params.support_banner.title | markdownify }} </span>
                    </h2>
                </div>
                <div class="volunteer-content">
                    <p>{{ .Site.Params.support_banner.description | markdownify }}</p>
                    <div class="button-default"> 
                         {{ .Site.Params.support_banner.button_text | markdownify }} <i class="fas fa-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="volunteer-hand-top">
        <ul>
            <li>
                <img src="img/hand-btm-one.png" alt="">
            </li>
            <li>
                <img src="img/hand-btm-two.png" alt="">
            </li>
            <li>
                <img src="img/hand-btm-three.png" alt="">
            </li>
            <li>
                <img src="img/hand-btm-right.png" alt="">
            </li>
            <li>
                <img src="img/hand-btm-top-one.png" alt="">
            </li>
            <li>
                <img src="img/hand-btm-top-two.png" alt="">
            </li>
        </ul>
    </div>
</section>
